/**
 * Editor styles for Calendly
 */

.wp-block-jetpack-calendly {
    &-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&-link-editable {
		cursor: text;
	}
}


.block-editor-block-styles__item.is-calendly {
	padding-top: 6px;
}

.block-editor-block-styles__item-preview.is-calendly {
	height: 100px;
	margin-top: 0;
	padding-top: 0;
	position: relative;

	> iframe {
		transform-origin: 0 0;
		transform: scale( 0.333 );
		width: 300%;
		height: 300;
		position: absolute;
		z-index: 1;
	}
}
